.slot {
  display: grid;
  justify-content: center;
}
label {
  display: block;
}

input[type="submit"],
label {
  margin-top: 1rem;
}


.slot {
    width: 300px;
    margin: auto;
    margin-top: 100px;
}

.success {
    color: green;
}

.error {
    color: red;
}