.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-inline: auto;
  justify-content: center;
  max-width: 1400px;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 400px;
  border: 1px solid;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(22, 198, 104, 0.649);
}

button {
  cursor: pointer;
  display: flex;
  margin-inline: auto;
}

input {
  text-align: center;
  outline: 0;
}

.slot {
  display: flex;
  gap: 26px;
}

.slot_flats {
  display: grid;
  gap: 15px;
}

.label-slot {
  display: flex;
  justify-content: space-between;
  input {
    margin-left: 5px;
  }
}

#newLine {
  max-height: 200px;
  min-height: 100px;
  max-width: 250px;
  min-width: 250px;
  text-align: center;
}

label {
  display: block;
}

input[type="submit"],
label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: 20px auto;
}

td {
  border: 1px solid #0e0d0d;
  padding: 5px;
  text-align: center;
}

.col-table {
  background-color: rgb(75, 75, 75);
  color: white;
  cursor: pointer;
  border: 1px solid #0e0d0d;

}
